[submodule "Auxiliary"]
	path = Auxiliary
	url = https://github.com/uwp-at-mrit/Auxiliary.git
[submodule "Graphics"]
	path = Graphics
	url = https://github.com/uwp-at-mrit/Graphics.git
[submodule "BigBang"]
	path = BigBang
	url = https://github.com/uwp-at-mrit/BigBang.git
[submodule "WormHole"]
	path = WormHole
	url = https://github.com/uwp-at-mrit/WormHole.git
[submodule "Jargon"]
	path = Jargon
	url = https://github.com/uwp-at-mrit/Jargon.git
[submodule "ENChart"]
	path = ENChart
	url = https://github.com/uwp-at-mrit/ENChart.git
